/* Your CSS Code here. */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

img {
    margin: 15px 0;
    display: block;
}
